header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #172554;
    padding: 20px 40px;
}

nav {
    display: flex;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

nav a:hover {
    color: #fbbf24;
}
h4
{
  color:pink;
}
p {
  background: red;
}
button
{
  border: 70px blue solid;
}

